<!--
   Authors : pvgroups
  Website : https://pvgroups.com/
  App Name : Ellvin Fresh
  Created : 1-jan-2021
  This App Template Source code is licensed as per the
  terms found in the Website https://pvgroups.com/license
  Copyright and Good Faith Purchasers © 2020-present pvgroups.
 -->
<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5 ">

    <div style="background-color: rgba(0,0,0,0.8)">
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">{{util.getString('Get connected with us on social networks!')}} </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right social_div">
                    <!-- Facebook -->
                    <a class="fbs-ic">
                        <mdb-icon fab icon="facebook" class="fb-ic mr-4"></mdb-icon>
                    </a>
                    <!-- Twitter -->
                    <a class="tws-ic">
                        <mdb-icon fab icon="twitter" class="tw-ic mr-4"></mdb-icon>
                    </a>
                    <!-- Google +-->
                    <a class="gpluss-ic">
                        <mdb-icon fab fab icon="google-plus" class="gplus-ic mr-4"></mdb-icon>
                    </a>
                    <!--Linkedin -->
                    <a class="lis-ic">
                        <mdb-icon fab icon="linkedin" class="li-ic mr-4"></mdb-icon>
                    </a>
                    <!--Instagram-->
                    <a class="inss-ic">
                        <mdb-icon fab icon="instagram" class="ins-ic mr-4"></mdb-icon>
                    </a>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 popular-searches">
                <div class="header">
                    <h2>Popular Searches</h2>
                </div>
                <div class="list-items">


                    <ul>

                        <li class="heading">
                            <a href="/order-chicken-online">Chicken</a>
                        </li>
                        <li>
                            <a href="/order-chicken-online/chicken-curry-cut">Chicken Curry Cut</a>
                        </li>
                        <li>
                            <a href="/order-chicken-online/chicken-drumstick">Chicken Drumstick</a>
                        </li>
                        <li>
                            <a href="/order-chicken-online/chicken-boneless">Chicken Boneless</a>
                        </li>
                        <li>
                            <a href="/order-chicken-online/whole-chicken-with-skin">Whole Chicken With Skin</a>
                        </li>

                    </ul>

                    <ul>

                        <li class="heading">
                            <a href="/order-mutton-online">Mutton</a>
                        </li>
                        <li>
                            <a href="/order-mutton-online/goat-biryani-cut_23">Goat Biryani Cut</a>
                        </li>

                    </ul>

                    <ul>

                        <li class="heading">
                            <a href="/order-fish-online">Fish</a>
                        </li>
                        <li>
                            <a href="/order-fish-online/merkel_22">Merkel</a>
                        </li>
                        <li>
                            <a href="/order-fish-online/rohu-fish-head_26">Rohu Fish Head</a>
                        </li>
                        <li>
                            <a href="/order-fish-online/black-pomfret-streaks_28">Black Pomfret Streaks</a>
                        </li>
                        <li>
                            <a href="/order-fish-online/white-pomfret-streaks_29">White Pomfret Streaks</a>
                        </li>
                        <li>
                            <a href="/order-fish-online/murrelet_30">Murrelet</a>
                        </li>
                        <li>
                            <a href="/order-fish-online/roopchand-fish-streaks_31">Roopchand Fish Streaks</a>
                        </li>

                    </ul>

                    <ul>

                        <li class="heading">
                            <a href="/order-eggs-online">Eggs</a>
                        </li>
                        <li>
                            <a href="/order-eggs-online/eggs_24">Eggs</a>
                        </li>
                        <li>
                            <a href="/order-eggs-online/brown-eggs_25">Brown Eggs</a>
                        </li>

                    </ul>

                    <ul>

                        <li class="heading">
                            <a href="/order-prawns-online">Prawns Mania</a>
                        </li>
                        <li>
                            <a href="/order-prawns-online/large-prawns_18">Large Prawns</a>
                        </li>

                    </ul>

                </div>
            </div>

        </div>
    </div>
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">

            <!-- Grid column -->
            <div class="col-md-6 col-lg-4 col-xl-3 mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold footer_lbl">Download Our App</h6>
                <!-- <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
                <div class="ply-store">
                    <img src="assets/imgs/gp-image-large.png" style="height: auto;
                width: 63%;">
                    <img src="assets/imgs/app-store-large.png" style="height: auto;
                    width: 63%;">
                </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold footer_lbl">{{util.getString('Services')}} </h6>
                <!-- <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
                <div class="flex_box" (click)="goToHome()">
                    <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Home')}} </a>
                </div>

                <div class="flex_box" (click)="goToOrders()">
                    <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Orders')}} </a>
                </div>
                <div class="flex_box" (click)="util.publishCartBtn()">
                    <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Cart')}} </a>
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold footer_lbl">{{util.getString('Useful links')}} </h6>
                <!-- <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
                <div class="flex_box" (click)="goToAccount()">
                    <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Your Account')}} </a>
                </div>
                <div class="flex_box" (click)="about()">
                    <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">About Us</a>
                </div>
                <div class="flex_box" (click)="goToBlog()">
                    <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">Blog</a>
                </div>
                <div class="flex_box" (click)="goToCareers()">
                    <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">Careers</a>
                </div>
                <div class="flex_box" (click)="goToFaq()">
                    <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">FAQ</a>
                </div>
                <div class="flex_box" (click)="goToPrivacyPolicy()">
                    <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">Privacy Policy</a>
                </div>
                <div class="flex_box" (click)="goToShippingPolicy()">
                    <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">Shipping Policy</a>
                </div>
                <div class="flex_box" (click)="about()">
                    <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">About Us</a>
                </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold footer_lbl">{{util.getString('Contact')}} </h6>
                <!-- <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
                <div class="flex_box">
                    <mdb-icon fas icon="home"></mdb-icon>
                    <label>{{util.general && util.general.address ? util.general.address:'' }}</label>
                </div>
                <div class="flex_box">
                    <mdb-icon fas icon="envelope"></mdb-icon>
                    <label>{{util.general && util.general.email ? util.general.email:'' }}</label>
                </div>
                <div class="flex_box">
                    <mdb-icon fas icon="phone"></mdb-icon>
                    <label>+ {{util.general && util.general.mobile ? util.general.mobile:'' }}</label>
                </div>
                <div class="flex_box">
                    <mdb-icon fas icon="print"></mdb-icon>
                    <label for="">+ {{util.general && util.general.email ? util.general.email:'' }} </label>
                </div>

            </div>


            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->


    <!-- Content -->
    <div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 text-right">
                <img src="assets/imgs/payment_methods.png" style="margin-right: 273px;">
            </div>
            <div class="col-lg-3 offset-md-3 col-sm-6 text-center">
                <img src="assets/imgs/ssl.png" style="height: 100%; width: 25% ">
                <img src="assets/imgs/dmca.png" style="height: 100%; width: 28% ">
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 " style="background: rgba(0,0,0,0.8); ">© {{year}} {{util.getString('Copyright')}}:
        <a href="https://pvgroups.com/ "> pvgroups</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->